body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .border {
    position: absolute;
    width: 185px;
    height: 20px;
background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    border-radius: 25px;
    animation: move-around 5s infinite;
    text-align: center;
    color: white;
  }
  
  @keyframes move-around {
    0% {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
    25% {
      top: 0;
      left: 95%;
      transform: translate(-50%, 0);
    }
    50% {
      top: 98.5%;
      left: 95%;
      transform: translate(-50%, -50%);
    }
    75% {
      top: 98.5%;
      left: 0;
      transform: translate(0, -50%);
    }
    100% {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
  
